---

#### Defensive Programming
# https://github.com/openshift/openshift-ansible/blob/master/docs/best_practices_guide.adoc

- name: Fail for Missing Transfer Method
  fail: msg="This role requires transfer_method to be set and non empty. See the README"
  when: transfer_method is not defined or transfer_method == ''
  tags:
    - jboss_eap

- name: Fail for Missing Red Hat Network Username
  fail: msg="This role requires rhn_username to be set and non empty."
  when: transfer_method == 'csp-to-host' and (rhn_username is not defined or rhn_username == '')
  tags:
    - jboss_eap

- name: Fail for Missing Red Hat Network Password
  fail: msg="This role requires rhn_password to be set and non empty."
  when: transfer_method == 'csp-to-host' and (rhn_password is not defined or rhn_password == '')
  tags:
    - jboss_eap

#### Set Facts
- name: Set JBoss EAP Download Facts
  set_fact:
    jboss_eap_artifact_url: "{{ jboss_eap_artifact_source }}"
    jboss_eap_artifact_dl_dest: "{{ '/tmp/' + jboss_eap_artifact_name }}"
    jboss_eap_library_dest: "/opt/{{ jboss_eap_user }}"
    jboss_eap_patch_artifact_url: "{{ jboss_eap_patch_artifact_source }}"
    jboss_eap_patch_dest: "/tmp/{{ jboss_eap_patch_artifact_name }}"
  tags:
    - jboss_eap

- name: Set JBoss EAP Group Facts
  set_fact:
    jboss_eap_group: "{{ jboss_eap_user }}"
  tags:
    - jboss_eap

- name: Set JBoss EAP Service Directories Facts
  set_fact:
    jboss_eap_home: "{{ jboss_eap_library_dest }}/jboss-eap-6.4"
    jboss_eap_service_conf_dir: "/etc/{{ jboss_eap_user }}"
    jboss_eap_service_log_dir: "/var/log/{{ jboss_eap_user }}"
    jboss_eap_service_data_dir: "/var/run/{{ jboss_eap_user }}"
  tags:
    - jboss_eap

- name: Set JBoss EAP Service Files Facts
  set_fact:
    jboss_eap_service_conf_file: "{{ jboss_eap_service_conf_dir }}/{{ jboss_eap_user }}.conf"
    jboss_eap_runtime_conf_file: "{{ jboss_eap_home }}/bin/standalone.conf"
    jboss_eap_standalone_service_file: "/etc/systemd/system/{{ jboss_eap_user }}-standalone.service"
  tags:
    - jboss_eap

#### Create Service Account

- include: jboss_service.yml

#### Download and install base library and patch

- name: Async Download JBoss EAP Patch from Red Hat Customer Portal
  redhat_csp_download:
    url: "{{ jboss_eap_patch_artifact_url }}"
    dest: "{{ jboss_eap_patch_dest }}"
    username: "{{ rhn_username }}"
    password: "{{ rhn_password }}"
  async: 7200
  poll: 0
  register: jboss_eap_patch_download
  tags:
    - jboss_eap
  when: transfer_method == 'csp-to-host'

- name: Async Download JBoss EAP from Red Hat Customer Portal
  redhat_csp_download:
    url: "{{ jboss_eap_artifact_url }}"
    dest: "{{ jboss_eap_artifact_dl_dest }}"
    username: "{{ rhn_username }}"
    password: "{{ rhn_password }}"
  async: 7200
  poll: 0
  register: jboss_eap_download
  tags:
    - jboss_eap
  when: transfer_method == 'csp-to-host'

- name: 'Check On JBoss EAP Download Completion'
  async_status: jid={{ jboss_eap_download.ansible_job_id }}
  register: job_result1
  until: job_result1.finished
  retries: 600
  delay: 10
  tags:
    - jboss_eap
  when: transfer_method == 'csp-to-host'

- name: 'Check On JBoss EAP Patch Download Completion'
  async_status: jid={{ jboss_eap_patch_download.ansible_job_id }}
  register: job_result2
  until: job_result2.finished
  retries: 600
  delay: 10
  tags:
    - jboss_eap
  when: transfer_method == 'csp-to-host'

- debug: msg="{{transfer_method }}"

- name: Copy JBoss EAP
  copy:
    src: "{{ jboss_eap_artifact_name }}"
    dest: "{{ jboss_eap_artifact_dl_dest }}"
  tags:
    - jboss_eap
  when: transfer_method == 'copy-from-controller'

- name: Copy JBoss EAP Patch
  copy:
    src: "{{ jboss_eap_patch_artifact_name }}"
    dest: "{{ jboss_eap_patch_dest }}"
  tags:
    - jboss_eap
  when: transfer_method == 'copy-from-controller'

- name: Extract JBoss EAP Libraries
  sudo: true
  unarchive:
    src: "{{ jboss_eap_artifact_dl_dest }}"
    dest: "{{ jboss_eap_library_dest }}"
    creates: jboss-eap-6.4
    copy: no
    owner: "{{ jboss_eap_user }}"
    group: "{{ jboss_eap_group }}"
  tags:
    - jboss_eap

- name: Apply JBoss EAP Patch
  become: yes
  become_user: "{{ jboss_eap_user }}"
  command: "{{ jboss_eap_home }}/bin/jboss-cli.sh 'patch apply {{ jboss_eap_patch_dest }}'"
  tags:
    - jboss_eap


#### Set Sensible Defaults For Runtime

- name: Set Web Bind Address
  lineinfile:
    dest: "{{ jboss_eap_runtime_conf_file }}"
    line: JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address=0.0.0.0"
  when: jboss_eap_bind_web_interface
  tags:
    - jboss_eap

- name: Set Management Bind Address
  lineinfile:
    dest: "{{ jboss_eap_runtime_conf_file }}"
    line: JAVA_OPTS="$JAVA_OPTS -Djboss.bind.address.management=0.0.0.0"
  when: jboss_eap_bind_management_interface
  tags:
    - jboss_eap

- name: Set User Time Zone for Logs
  lineinfile:
    dest: "{{ jboss_eap_runtime_conf_file }}"
    line: "JAVA_OPTS=\"$JAVA_OPTS -Duser.timezone={{jboss_eap_logging_timezone}}\""
  tags:
    - jboss_eap


### Fire it up

- name: Start and Enable jboss-as Service
  service:
    name: jboss-as-standalone.service
    state: started
    enabled: yes
  tags:
    - jboss_eap
